<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="test/bootstrap.php">
         
    <testsuites>
        <testsuite name="Application Tests">
            <directory>./test/src/Application</directory>
        </testsuite>
        <testsuite name="Framework Tests">
            <directory>./test/src/Framework</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./test/coverage/html" />
    </logging>

</phpunit>
